//MOBILE STYLE
@import "./_colours";

$cobrand-moniker: 'popravitodev';
$body-font: "Open Sans";
$headings-font: "Darker Grotesque";
$primary_text: $headings-font;
$primary_b: none;
$left: left;
$right: right;

@mixin svg-background-image($path) {
	background-image: url("#{$path}.png");
	background-image: url("#{$path}.svg"), none;
}

// Custom Staging banner:
.popup__content {
	/*   background-color: #F25410; */
	background-color: #cc3300;
	color: white;
	padding: 16px;
	text-align: center;
	height: 10vh;
}

body {
	font-family: $body-font;
	margin: 0;
	overflow-x: hidden;
	color: #1d1c1c;
}

ul {
	list-style-type: none;
}

.with-bullets {
	// add bullets to unordered lists where required
	list-style: circle;
	margin-left: 30px;
	margin-top: -2rem;
	margin-bottom: 2.5rem;
}

a {
	text-decoration: none;
	color: inherit;
}

a:visited {
	color: inherit;
}

a:hover {
	cursor: pointer;
}

button:hover {
	cursor: pointer;
}

input,
textarea {
	border: $primary_b;
	border-radius: 16px;
	background-color: #f6f2ef;
	padding: 1.2rem 2.2rem 1.2rem 3rem;
}


input::placeholder {
	color: $col_big_numbers;
}

label[for="name"] {
	opacity: 0;
}

label[for="email"] {
	opacity: 0;
}

label[for="phone"] {
	opacity: 0;
}

label[for="message"] {
	opacity: 0;
}

img {
	//do this otherwise IE will just not display any img without a height defined
	height: auto;
}

.visually-hidden {
	border: 0;
	clip: rect(0, 0, 0, 0);
	height: 0.063rem;
	margin: -0.063rem;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 0.063rem;
}

/* base cobrand legacy */
.visuallyhidden {
	border: 0;
	clip: rect(0, 0, 0, 0);
	height: 0.063rem;
	margin: -0.063rem;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 0.063rem;
}

/* header */

.header {
	display: flex;
	//width: 100%;
	top: 0;
	position: sticky;
	background-color: white;
	box-shadow: 0 1px 10px -6px black;
	padding: 0.7rem;
	z-index: 5;
}

.logo {
	padding: 0.5rem 0 0 1.6rem;
}

.button {
	padding: 0.5rem 1.5rem 0.5rem 1.5rem;
	border-radius: 40px;
	border: none;
	background-color: transparent;
	font-family: $body-font;
	font-weight: 600;
	font-size: 0.875rem;
}

.button:hover {
	cursor: pointer;
}

.menu {
	margin-top: 12px;
	position: fixed;
	right: 0;
	top: 0px;
	z-index: -1;
	background-color: white;
	padding: 0 1.5rem 0 1.5rem;
	height: 150px;
	border-radius: 30px;
}

.menu-item {
	font-family: $body-font;
	font-weight: 600;
	padding: 0.2rem;
	margin-bottom: 0.5rem;
	font-size: 0.875rem;
}

.menu-list {
	padding-left: 2rem;
}

.close-mobile-menu {
    border: none;
    width: 24px;
    height: 24px;
    position: fixed;
    right: 1.8rem;
    color: #1D1C1C;
    top: 27px;
    background: url("/cobrands/popravito/images/ic-close.svg") no-repeat center;

}

@media only screen and (max-width: 360px) {
    .mobile-menu-button {
        right: 30px;
    }
    .menu {
        right: -15px;
    }
}

.report-issue-button {
	background-color: $grayscale;
	color: white;
	margin-left: 1rem;

}

.button-link {
	align-self: center;
}

.mobile-menu-button {
	border: none;
	background-color: transparent;
	background: url("/cobrands/#{$cobrand-moniker}/images/ic-menu.svg") no-repeat center;
	width: 24px;
	height: 24px;
	position: fixed;
	right: 1.8rem;
	color: $menu-image;
	top: 27px;
}

/* homepage */

.central-title {
	font-family: $primary_text;
	font-weight: 700;
	font-size: 3rem;
	margin: 0 1.5rem 0 1.5rem;
}

.mobile-hero-images {
	text-align: center;
	padding-top: 3rem;
}

.hero-image {
	margin: 0 auto;
	display: inline-block;
}

.search-icon-button {
	background: url("/cobrands/#{$cobrand-moniker}/images/Search.svg") no-repeat center;
	border: none;
	background-color: transparent;
	width: 1.5rem;
	height: 1.5rem;
	position: absolute;
	margin-top: 0.938rem;
	padding-left: 1.54rem;
}

.search {
	position: relative;
	display: flex;
	margin: 2rem 1.5rem 0 1.5rem;
}

.search-input {
	width: 100%;
}

.search-input::placeholder {
	font-size: 1rem;
}

.search-button {
	border-radius: 50%;
	background: $orange;
	background-image: url("/cobrands/#{$cobrand-moniker}/images/icon-chevron-right.svg");
	background-repeat: no-repeat;
	background-position: center;
	margin-left: 0.5rem;
	width: 62px;
	height: 62px;
}

.search-button:hover {
	cursor: pointer;
}

.location-icon {
	background: url("/cobrands/#{$cobrand-moniker}/images/ic-location.svg") no-repeat center;
	width: 20px;
	height: 20px;
	display: block;
	margin-right: 0.875rem;
}

.location-link {
	display: flex;
	margin: 1.5rem 0 0 2rem;
}

.report-steps-section {
	display: block;
	margin: 1.5rem 1.75rem 1.5rem 1.75rem;
	border-top: 1px solid black;
	padding: 2rem 0 2rem 0;
}

.report-title {
	font-family: $headings-font;
	font-weight: 600;
	font-size: 2rem;
	max-width: 384px;
	line-height: 2.375rem;
}

.report-steps {
	list-style-type: none;
}

.report-step {
	display: flex;
	align-items: center;
	margin-bottom: 1rem;
}

.step-num-img {
	margin-right: 1.2rem;
}

.step-num-img img {
	width: 48px;
}

.report-steps {
	display: block;
}

.report-stat-num {
	font-weight: 900;
	font-family: $headings-font;
	font-size: 4rem;
	margin: 0;
}

.report-stat-detail {
	display: flex;
	justify-content: center;
	font-size: 0.75rem;
	align-items: center;
	color: #675f58;
}

.report-mark {
	width: 12px;
	height: 12px;
	margin-right: 0.5rem;
}

.report-one {
	background-color: $orange;
}

.report-two {
	background-color: $col_big_numbers;
}

.report-three {
	background-color: $primary;
}

.report-statistics {
	display: block;
	text-align: center;
}

.report-stat-item {
	padding: 0;
}

/* footer */

.footer {
	background-color: $grayscale;
	color: white;
	padding: 4rem 1.5rem 4rem 1.5rem;
}

.report-issue-button-footer {
	border: 1px solid white;
	color: white;
	margin-bottom: 4rem;
}

.menu-item-footer {
	padding-bottom: 1rem;
}

.footer .menu-item a {
	padding: 0;
}

.menu-list-footer {
	margin-bottom: 4rem;
	padding: 0;
}

.footer-text-long-desc {
	margin-top: 1.5rem;
}

.footer-text {
	font-size: 0.875rem;
}

.footer-socials {
	margin-top: 4rem;
}

.footer-desc {
	max-width: auto;
}

.footer-social-item {
	padding-right: 1.25rem;
}

.github-link {
	background: url("/cobrands/#{$cobrand-moniker}/images/github.svg") no-repeat center;
	display: inline-block;
	height: 32px;
	width: 32px;
}

.twitter-link {
	background: url("/cobrands/#{$cobrand-moniker}/images/twitter.svg") no-repeat center;
	display: inline-block;
	height: 32px;
	width: 32px;
}

.facebook-link {
	background: url("/cobrands/#{$cobrand-moniker}/images/facebook.svg") no-repeat center;
	display: inline-block;
	height: 32px;
	width: 32px;
}

.linkedin-link {
	background: url("/cobrands/#{$cobrand-moniker}/images/linkedin-logo-icon.svg") no-repeat center;
	display: inline-block;
	height: 32px;
	width: 32px;
}



.socials {
	display: flex;
	padding: 0;
	flex-wrap: wrap;
	justify-content: center;
	width: 50%;
	line-height: 3rem;

	@media only screen and (min-width:150px) and (max-width: 1050px) {
		display:flex;
		justify-content: left;
		width: 100%;
	}
}

.fixmystreet-logo img {
	padding: 1rem 0 1.5rem 0;
}

/* register and login */

.register-container {
	margin: auto;
	max-width: 100%;
	border-radius: 15px;
	padding: 3rem 2.5rem;
}

.page-title {
	font-family: $headings-font;
	font-size: 2.2rem;
	font-weight: 800;
}

.credentials-input {
	display: block;
	border: $primary_b;
	border-radius: 16px;
	background-color: #f6f2ef;
	padding: 1.2rem;
	margin-bottom: 1.5rem;
	width: 92%;
}

.credentials-input::placeholder {
	color: $col_big_numbers;
}

.credentials-input:active {
	border: 1px solid #1d1c1c;
	background-color: white;
}

.register-button {
	background-color: $primary;
	color: white;
	display: block;
	margin: 0 auto;
	padding: 0.75rem 2rem 0.75rem 2rem;
	width: 100%;
	height: 56px;
	font-size: 1rem;
}

.register-button:disabled {
	opacity: 0.6;
}

.page-text {
	font-weight: 400;
	text-align: center;
	display: block;
	margin-top: 1.5rem;
}

.page-text-left-aligned {
	text-align: left;
}

.text-bold {
	font-weight: 700;
}

.misc-link {
	font-weight: 600;
}

.misc-link-2 {
	text-decoration: underline;
}

.confirmation-header-signout {
	text-align: center;
}

.close-button {
	background: url("/cobrands/#{$cobrand-moniker}/images/ic-close.svg") no-repeat center;
	width: 20px;
	height: 20px;
	display: block;
	border: none;
	float: right;
	margin-top: 1.5rem;
}

.close-button:hover {
	transform: scale(1.2);
}

.misc-logo {
	padding: 0;
}

.form-bottom-part {
	position: fixed;
	bottom: 3rem;
	margin: auto;
	width: 82%;

	@media only screen and (max-width: 450px) {
		width: 78%;
	}
}

.reveal-pass {
	border: 0;
	background-color: transparent;
	background: url("/cobrands/#{$cobrand-moniker}/images/ic-show.svg") no-repeat center;
	display: block;
	width: 25px;
	height: 25px;
	right: 70px;
	position: absolute;
	margin-top: 15px;
}

.password-container {
	display: flex;

	@media only screen and (max-width: 518px) {
		margin-right: -0.8rem;
	}
}

.page-text-small {
	font-size: 0.8rem;
	color: red;
	margin-top: -10px;
	margin-left: 20px;
}

.invalid-input {
	border: 2px solid red;
}

.confirm-text {
	margin-top: 0;
	margin-bottom: 1.5rem;
}

.form-error {
	background-color: #fff3f3;
	color: red;
	font-size: 0.8rem;
}

.form-error-message {
	background-color: white;
	color: red;
	font-size: 0.8rem;
}

div.form-error,
p.form-error {
	background: white;
}

input.form-error,
textarea.form-error {
	border-color: red;
}

.page-text-instructions {
	margin-bottom: 2rem;
}

/* report problem */

.page-title-smaller {
	font-family: $headings-font;
	font-size: 2rem;
}

.instructions-container .location-link {
	display: none;
}

.location-icon-purple {
	background: url("/cobrands/#{$cobrand-moniker}/images/ic-location-purple.svg") no-repeat
		center;
	width: 20px;
	height: 20px;
	display: block;
	margin-right: 0.875rem;
}

.primary-button {
	background-color: $primary;
	color: white;
	display: flex;
	padding: 0.75rem 2rem;
	float: right;
	margin: 1.8rem;
}

.arrow-right {
	background: url("/cobrands/#{$cobrand-moniker}/images/ic-arrow-right.svg") no-repeat
		center;
	width: 15px;
	height: 15px;
	display: block;
	margin-left: 0.6rem;
	align-self: center;
}

.report-section {
	display: block;
}

.instructions-container {
	margin: 0;
}

.instructions-container .page-title-smaller {
	margin: 1.5rem;
}

.instructions-container .page-text {
	margin: 1.5rem;
}

.continue-container {
	position: fixed;
	z-index: 4;
	bottom: 0;
	left: 0;
	background-color: white;
	width: 100%;
	justify-content: space-evenly;
}

.map img {
	max-width: 100%;
}

.progress-bar {
	width: 100%;
	background-color: white;
}

.bar,
.bar2,
.bar3,
.bar4 {
	height: 4px;
	background-color: #746ab6;
}

.bar {
	width: 25%;
}

.bar2 {
	width: 50%;
}

.bar3 {
	width: 75%;
}

.bar4 {
	width: 100%;
}

.dropdowns {
	display: flex;
	flex-direction: column;
	margin: 2.5rem 1.5rem 0 1.5rem;
}

.dropdowns label,
.report-label {
	font-weight: 700;
	margin-bottom: 1rem;
	display: flex;
	margin-left: 0;
}

.dropdowns select {
	margin-bottom: 1.5rem;
	border: $primary_b;
	border-radius: 16px;
	background-color: #f6f2ef;
	padding: 1.2rem;
	color: $col_big_numbers;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	background-image: url("/cobrands/#{$cobrand-moniker}/images/ic-dropdown-down.svg");
	background-repeat: no-repeat;
	background-position: right;
	background-origin: content-box;
}

.dropdowns select button {
	border: none;
	background-color: #f6f2ef;
}

.report-title-input {
	padding: 1.2rem;
	margin-bottom: 1.25rem;
}

.primary-button-two {
	background-color: transparent;
	color: black;
	display: flex;
	align-items: center;
	padding: 0.75rem 2rem;
	margin: 1.8rem;
}

.arrow-left {
	background: url("/cobrands/#{$cobrand-moniker}/images/ic-arrow-left.svg") no-repeat
		center;
	width: 15px;
	height: 15px;
	display: block;
	margin-right: 0.6rem;
	align-self: center;
}

.arrow-right-black {
	background: url("/cobrands/#{$cobrand-moniker}/images/ic-arrow-right-black.svg")
		no-repeat center;
	width: 15px;
	height: 15px;
	display: block;
	margin-right: 0.6rem;
	align-self: center;
}

.report-details-small {
	font-size: 0.875rem;
	margin: 0 0 2rem 0;
}

.summarise-title {
	display: flex;
	font-weight: 700;
	margin-top: 3rem;
}

.continue-container-two {
	background-color: white;
	width: 100%;
	justify-content: space-evenly;
	bottom: 0;
	position: absolute;
	display: none;

	@media only screen and (max-height: 840px) {
		bottom: auto;
	}
}

#side-form .continue-container-two {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

#side-form .continue-container-two .primary-button {
	display: flex;
}

.details-button {
	background: url("/cobrands/#{$cobrand-moniker}/images/ic_indicator_info.svg") no-repeat
		center;
	width: 10px;
	height: 10px;
	display: block;
	padding: 10px;
	border-radius: 50%;
	align-content: center;
	align-self: center;
	margin-top: -3px;
	margin-left: 2px;
}

.description-container {
	margin: 1.5rem;
}

.report-textarea {
	padding: 1rem;
	color: $col_big_numbers;
	width: 95%;
}

.report-details-smallest {
	font-size: 0.7rem;
	color: #675f58;
	margin: 0.75rem 0 3rem 0;
}

.upload-photo-button {
	background-color: transparent;
	border: 1px solid #dad6d3;
	border-radius: 15px;
	padding: 1rem 3rem 1rem 3rem;
	width: 100%;
	display: flex;
	justify-content: center;
	margin-bottom: 4rem;
	font-weight: 600;
}

.camera-icon {
	background: url("/cobrands/#{$cobrand-moniker}/images/ic-camera.svg") no-repeat center;
	width: 30px;
	height: 20px;
	display: block;
	margin-right: 0.6rem;
	margin-top: -3px;
}

.personal-data label {
	opacity: 0;
}

.personal-data {
	margin-bottom: 2rem;
}

.personal-data input {
	width: calc(100% - 48px);
}

.primary-button-three {
	background-color: transparent;
	color: black;
	display: flex;
	padding-left: 0;
	margin-left: 0;
}

.show-name-public-button {
	display: none;
}

/* report details modal */

.modal {
	background-color: white;
	top: 0;
	left: 0;
	right: 0;
	position: fixed;
	height: 100vh;
	z-index: 9;
}

.modal p {
	margin: 0;
}

.register-button-two {
	bottom: 0;
	position: fixed;
	margin-bottom: 2.5rem;
	width: calc(100% - 96px);
}

.report-successful-logo img {
	padding: 3rem 7rem 4rem 7rem;
	display: block;
	margin: 0 auto;
}

.modal .page-title {
	text-align: center;
}

/* contact page */

.contact-info {
	margin: 2rem 0 2rem 0;
}

.contact-section {
	padding: 0 1.5rem 7.5rem 1.5rem;
	display: block;
}

.contact-section .primary-button {
	margin-bottom: 0;
}

.contact-section .page-divider {
	margin: 1rem 0 1rem 0;
}

.page-text-misc {
	color: #675f58;
	font-size: 0.75rem;
	text-transform: uppercase;
	display: flex;
	margin-bottom: 0.7rem;
	font-weight: bold;

}

.email-span-icon {
	background: url("/cobrands/#{$cobrand-moniker}/images/send.svg") no-repeat center;
	width: 20px;
	height: 20px;
	display: block;
	margin-right: 0.875rem;
}

.address-span-icon {
	background: url("/cobrands/#{$cobrand-moniker}/images/mail.svg") no-repeat center;
	width: 20px;
	height: 20px;
	display: block;
	margin-right: 0.875rem;
}

.form-misc button {
	float: none;
	margin: 4rem 0 7rem 0;
}

.form-misc .report-title-input {
	width: calc(100% - 48px);
}

.form-misc .report-textarea {
	width: calc(100% - 48px);
}

.form-misc .report-label {
	margin-bottom: 0;
}

.page-subtitle {
	font-family: $headings-font;
	font-weight: 700;
	margin-bottom: 3rem;
}

.form-misc input[type="radio"] {
	margin-bottom: 1.25rem;
}

.contact-us .page-text-left-aligned {
	margin-left: 0;
}

.page-divider {
	opacity: 0.1;
	border: 1px solid #000000;
	margin: 3rem 0 3rem 0;
}

.page-divider-2 {
	opacity: 0;
}

.page-divider-1 {
	opacity: 0.1;
	border: 1px solid #000000;
	margin: 3rem 0 3rem 0;
}

/* profil */

.central-section-two-col {
	display: block;
}

.two-col-left {
	background-color: #fafafa;
	padding-bottom: 3rem;
}

.two-col-left .report-details-small {
	margin: 2rem 0 0.7rem 0;
}

.two-col-left .page-text-left-aligned {
	margin-left: 0;
}

.two-col-left .page-subtitle {
	padding: 0.875rem;
	background-color: #f6f2ef;
	text-transform: uppercase;
	display: flex;
	margin: 0;
}

.my-info-container {
	font-size: 0.75rem;
}

.arrow-down {
	background: url("/cobrands/#{$cobrand-moniker}/images/ic-dropdown-down.svg") no-repeat
		center;
	width: 15px;
	height: 15px;
	display: block;
	margin-right: 0.6rem;
	align-self: center;
	position: absolute;
	right: 20px;
}

.arrow-down-tab {
	margin-top: 0.7rem;
	display: initial;
}

.two-col-left .misc-link {
	display: flex;
	justify-content: space-between;
}

.two-col-left .misc-link:first-of-type {
	color: $orange;
}

.edit-info-icon {
	background: url("/cobrands/#{$cobrand-moniker}/images/checkbox.svg") no-repeat right;
	width: 30px;
	height: 30px;
	display: block;
	align-self: center;
	float: right;
}

.add-verify-link {
	color: #f25410;
	font-weight: 600;
}

.notifications-form .change-pass-link {
	margin-top: 2rem;
}

.logout-button {
	border: none;
	background-color: transparent;
	display: flex;
	margin: 1rem 1.5rem 0 0;
}

.logout-profile-button {
	background: url("/cobrands/#{$cobrand-moniker}/images/ic-logout.svg") no-repeat left;
	width: 20px;
	height: 20px;
	display: inline-flex;
	border: 0;
	background-color: transparent;
	padding-right: 0.8rem;
}

.two-col-left *:not(:first-child) {
	padding: 0 1.5rem 0 1.5rem;
}

.notifications-form input {
	float: right;
}

.notifications-form .notifs-type-label {
	color: black;
	font-weight: 600;
	font-size: 0.875rem;
	padding-left: 0;
}

.notifs-div {
	display: flex;
	justify-content: space-between;
	margin-bottom: 1.5rem;
	padding-left: 0;
}

.notifs-div:nth-of-type(2) {
	padding-left: 0;
	padding-right: 0;
}

.notifications-form {
	padding: 0 !important;
}

.edit-button {
	background: url("/cobrands/#{$cobrand-moniker}/images/edit.svg") no-repeat center;
	width: 20px;
	height: 20px;
	display: block;
	border: 0;
	background-color: transparent;
}

.info-item {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.tabs {
	display: flex;
	flex-wrap: wrap;
}

.radiotab {
	position: fixed;
	opacity: 0;
}

.tab-label {
	font-size: 1.5rem;
	cursor: pointer;
	width: 100%;
	padding: 0.875rem;
	text-transform: uppercase;
	margin: 0;
	background-color: #f6f2ef;
}

.panel {
	display: none;
	width: 100%;
}

.radiotab:checked + .tab-label + .panel {
	display: block;
}

.no-reports .primary-button {
	float: none;
	display: block;
	margin: 0 auto;
}

.no-reports {
	text-align: center;
	margin: 5rem 0 5rem 0;
}

.sort-form .page-text-misc {
	text-transform: initial;
}

.filters-container {
	display: flex;
	max-width: 50vw;
	align-items: center;
}

.filter-button {
	border: none;
	background-color: transparent;
	font-size: 0.75rem;
	display: flex;
	font-weight: 600;
	margin-right: 2rem;
}

.filter-button:active,
.filter-button:hover {
	border-radius: 8px;
	background-color: #f6f2ef;
	padding: 0.6rem;
}

.filter-icon {
	display: block;
	background: url("/cobrands/#{$cobrand-moniker}/images/ic_filter.svg") no-repeat center;
	width: 15px;
	height: 15px;
	margin-right: 0.5rem;
}

.filter-icon:hover {
	background: url("/cobrands/#{$cobrand-moniker}/images/ic_filter_orange.svg") no-repeat
		center;
}

.filter-icon:active {
	background: url("/cobrands/#{$cobrand-moniker}/images/ic_filter_orange.svg") no-repeat
		center;
}

.sort-form {
	margin: 0 2rem;
}

.sortby-form {
	display: flex;
	align-items: baseline;
}

.sortby-form select {
	border: none;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	align-self: baseline;
	margin-left: 0.5rem;
	margin-top: 2px;
	font-weight: 600;
	background-color: transparent;
	padding: 0.5rem;
}

.list-view-button,
.map-view-button {
	border: none;
	background-color: transparent;
	border-radius: 8px;
	margin-top: -20px;
	opacity: 0.6;
}

.list-map-active {
	background-color: #f6f2ef;
	opacity: 1;
}

.list-view-button:hover {
	background-color: #f6f2ef;
	opacity: 1;
}

.list-view-button {
	background: url("/cobrands/#{$cobrand-moniker}/images/ic-list.svg") no-repeat center;
	display: block;
	width: 40px;
}

.map-view-button {
	background: url("/cobrands/#{$cobrand-moniker}/images/ic-map.svg") no-repeat center;
	width: 40px;
	display: block;
}

.map-view-button:active {
	background-color: #f6f2ef;
	opacity: 1;
}

.map-view-button:hover {
	background-color: #f6f2ef;
	opacity: 1;
}

.view-container {
	display: flex;
}

.filters-and-view {
	display: flex;
	flex-direction: column-reverse;
	margin: 3rem 0 2rem 2rem;
}

.filters-container {
	margin-top: 2rem;
}

.filtered-content .page-text-left-aligned {
	font-size: 1rem;
	display: flex;
	margin-top: 1.5rem;
}

.filter-and-sort-form {
	display: flex;
	justify-content: space-between;
}

.fix-icon {
	background: url("/cobrands/#{$cobrand-moniker}/images/fix.svg") no-repeat center;
	display: block;
	width: 30px;
	height: 30px;
	margin-right: 1rem;
}

.page-text-light {
	color: #917d6e;
	font-size: 0.75rem;
	display: flex;
	justify-content: space-between;
	margin-top: -20px;
	margin-left: 45px;
}

.filtered-content-container {
	margin: 3rem 1.5rem 3rem 1.5rem;
}

.filtered-content {
	margin-bottom: 3rem;
}

.filtered-content .page-text-light {
	border-bottom: 1px solid #dad6d3;
	padding-bottom: 1rem;
}

.map-img img {
	width: 100%;
}

.updates-container {
	margin: 3rem 1.5rem 3rem 1.5rem;
}

.updates-content .page-text-left-aligned {
	font-size: 1rem;
}

.updates-content .page-text-light {
	margin-top: 0.5rem;
	margin-left: 0;
	border-bottom: 1px solid #dad6d3;
	padding-bottom: 1rem;
	width: 100%;
}

.updates-content .page-text-light :not(.issue-date) {
	text-decoration: underline;
}

.my-page-category {
	margin-top: 3rem;
}

.change-body {
	text-align: center;
}

.change-info-fieldset {
	border: none;
	padding: 0;
}

.change-info-fieldset .primary-button {
	float: none;
	margin: 0 auto;
	display: block;
}

.change-info-fieldset .form-field {
	padding: 1.5rem 0;
}

.new-pass-field {
	display: flex;
	align-items: center;
	margin: 1rem 0;
}

.new-pass-fieldset {
	display: block;
	margin: 0 auto;
	max-width: 500px;
	border: none;
	padding: 0;
}

.new-pass-fieldset .form-control {
	width: 100%;
}

.new-pass-fieldset .primary-button {
	float: none;
	display: block;
	margin: 0 auto;
}

.sort-form .report-list-filters {
	margin-top: 2.5rem;
}

.sort-form .filter-select {
	font-weight: 600;
	height: 200px;
	width: 200px;
}

.sort-form .filter-select option {
	font-weight: 600;
	padding: 0.5rem 0;
}

.token-form {
	text-align: center;
}

.token-form .primary-button {
	float: none;
	display: block;
	margin: 0 auto;
}

.token-form .page-subtitle {
	margin-bottom: 2rem;
}

.arrow-down-dropdown {
	background: url("/cobrands/#{$cobrand-moniker}/images/ic-dropdown-down.svg") no-repeat
		center;
	width: 10px;
	height: 10px;
	display: inline-flex;
	margin-right: 0.6rem;
	align-self: center;
	position: absolute;
	right: 0;
}

/* report detail */

.report-details-container {
	margin: 1rem 1.5rem 1rem 1.5rem;
}

.report-details-container {
	display: flex;
	flex-direction: column-reverse;
}

.report-details .report-title {
	display: flex;
	justify-content: space-between;
}

.update-link {
	display: flex;
	font-size: 0.8rem;
	align-self: center;
	//float: right;
}

.update-link span {
	color: $orange;
	margin-left: 0.7rem;
}

.fix-icon-detail {
	margin-bottom: -1rem;
}

.issue-details-container .misc-link {
	font-size: 0.875rem;
}

.issue-details-container .page-text-left-aligned {
	font-size: 0.875rem;
}

.report-img {
	margin-right: 1.25rem;
}

.img-gallery-container {
	border-bottom: 1px solid #dad6d3;
	padding-bottom: 2.5rem;
}

.report-details-container .updates-container {
	margin: 2rem 0 2rem 0;
}

.report-details-container .map {
	position: absolute;
	top: 14rem;
}

.issue-details-container {
	margin-top: 440px;
}

.report-details-container-update {
	margin: 1rem 1.5rem 1rem 1.5rem;
}

.report-details .dropdowns {
	margin: 0;
}

.report-details .description-container {
	margin: 1.5rem 0 0 0;
}

.report-details-container .report-title {
	max-width: 100%;
}

.save-discard-container {
	display: flex;
	align-items: baseline;
	margin-top: 1rem;
}

.discard-button {
	border: 1px solid #0e0e0e;
	margin-left: 1.5rem;
}

/* faq */

.text-bold-label {
	font-weight: 400;
	font-size: 1.2rem;
	color: black;
}

.radiotab:checked + .text-bold-label {
	font-weight: 700;
}

.faq-tabs {
	display: block;
	position: relative;
}

.faq-tabs .faq-section {
	display: block;
	padding: 0;
}

.faq-tabs .faq-section label {
	cursor: pointer;
	display: block;
	background-color: #f6f2ef;
	padding: 0.75rem 1.5rem;
}

.faq-tabs .faq-section .faq-article {
	display: none;
	left: 0;
	background-color: white;
	padding: 1rem 1.5rem;
}

.faq-tabs input[name="tabs"]:checked ~ .faq-article {
	display: block;
}

.faq-tabs .page-subtitle {
	background-color: transparent;
}

.faq-tabs .page-subtitle {
	margin-bottom: 2rem;
	padding: 0;
}

.faq-tabs .text-bold {
	margin-bottom: 1.5rem;
	padding: 0;
}

.faq-tabs .page-text-left-aligned {
	padding: 0;
	margin-bottom: 2.5rem;
}

.faq-article .faq-ordered-list {
	padding: 0 1.5rem;
}

.faq-link {
	text-decoration: underline;
}

.two-col-left .faq-link {
	padding: 0;
}

/* notifications */

.notification-marker {
	background-color: #e5e1fe;
	padding: 2rem 2.5rem;
	margin-top: 3rem;
}

.notification-marker .text-bold {
	font-size: 1.3rem;
}

.notification-marker input {
	background-color: white;
	width: 100%;
}

.notification-marker button {
	background-color: black;
}

.notification-marker .search {
	margin: 0;
	padding: 0;
}

.notification-marker .location-link {
	color: black;
	margin: 1.5rem 0 0 0;
}

.notifications {
	padding: 0;
}

.notifications .contact-us {
	padding: 0 1.5rem;
}

.notifications .text-bold {
	font-size: 1.3rem;
	margin-bottom: 1.5rem;
}

.notifications .misc-link {
	margin-bottom: 1.2rem;
}

.notification-type {
	padding: 1.5rem 1.5rem 7.5rem 1.5rem;
}

.notification-type .primary-button {
	margin-top: 2rem;
}

.rss-icon {
	background: url("/cobrands/#{$cobrand-moniker}/images/ic-RSS.svg") no-repeat center;
	width: 16px;
	height: 16px;
	display: inline-flex;
	float: right;
}

/* all reports */

.all-reports-container h1.text-bold {
	font-size: 2.2rem;
	margin-bottom: 3rem;
}

.all-reports-container .notification-marker {
	margin-top: 0;
	margin-bottom: 2.2rem;
}

.notification-marker-form-link {
	display: block;
}

.notification-marker-form-link .search-button {
	background-color: black;
	background-image: none;
	color: white;
	border-radius: 40px;
	width: 100%;
	margin-top: 1.5rem;
}

.notification-marker-form-link .search {
	display: block;
}

.notification-marker-form-link input {
	width: calc(100% - 50px);
}

.notification-search-button-arrow {
	background: url("/cobrands/#{$cobrand-moniker}/images/ic-arrow-right.svg") no-repeat
		center;
	display: inline-block;
	width: 15px;
	height: 15px;
	margin-left: 0.6rem;
	margin-bottom: -3px;
}

.all-reports-section .page-subtitle {
	font-size: 2.2rem;
}

.all-reports-section {
	display: block;
	margin: 0 1.5rem 5rem 1.5rem;
	border-bottom: 2px solid black;
}

.all-reports-section .report-stat-num {
	font-size: 2.2rem;
}

.all-reports-section .report-statistics {
	display: flex;
	padding: 0;
}

.all-reports-section .report-stat-item {
	padding-right: 2rem;
}

.statistics-img img {
	max-width: 100%;
	padding-top: 1.5rem;
}

.all-reports-section-smaller .page-subtitle {
	font-size: 2.2rem;
}

.all-reports-section-smaller .report-stat-num {
	font-size: 2.2rem;
}

.all-reports-section-smaller {
	margin: 0 1.5rem 0 1.5rem;
	border-bottom: 2px solid black;
}

.all-reports-section-smaller .report-statistics {
	text-align: left;
	padding: 0;
}

.all-reports-section-smaller .report-stat-detail {
	justify-content: left;
}

.all-reports-section-smaller .report-stat-item {
	margin-bottom: 2.5rem;
}

.all-reports-section-stats {
	margin: 0 1.5rem 0 1.5rem;
	border-bottom: 2px solid black;
}

.all-reports-section-stats .page-subtitle {
	font-size: 2.2rem;
	margin-bottom: 1.5rem;
}

.all-reports-section-stats .page-text-left-aligned {
	margin-bottom: 0;
}

.all-reports-section-stats .text-bold {
	font-size: 1rem;
}

.all-reports-section-stats .page-text-light {
	margin-top: 0.2rem;
	margin-left: 0;
	color: #a8adb2;
}

.all-reports-section-stats .avg-time {
	text-decoration: none;
	margin-top: -1rem;
	color: black;
}

.all-reports-stat-item {
	border-bottom: 1px solid #dad6d3;
	padding-bottom: 1rem;
	padding-top: 1rem;
}

.average-response-text {
	font-weight: 700;
	color: $primary;
	display: flex;
	justify-content: space-between;
	margin-bottom: 5rem;
}

.all-reports-type-item {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.all-reports-type-item .page-text-left-aligned {
	display: flex;
	align-self: center;
	margin-left: 0;
}

.all-reports-type-item .text-bold {
	margin-right: 0;
}

.reports-stats-unordered-list {
	padding-left: 0;
}

.reports-stats-ordered-list {
	padding-left: 1.5rem;
}

.all-reports-stats-2 {
	border-bottom: 0;
}

.all-reports-location {
	margin: 0 1.5rem 5rem 1.5rem;
	display: flex;
	flex-direction: column-reverse;
}

.all-reports-location .filters-and-view {
	margin: 12rem 0 0 0;
}

.all-reports-location .map-img {
	position: absolute;
	top: 11rem;
}

.all-reports-location .filtered-content-container {
	margin: 0;
}

.filter-form {
	margin-top: 2rem;
}

.filter-form .page-text-light {
	margin-left: 0;
	margin-bottom: 1.6rem;
	color: #675f58;
}

.filter-form input[type="checkbox"] {
	margin-bottom: 1.2rem;
}

.category-button {
	border: none;
	background-color: transparent;
	font-weight: 600;
	display: flex;
	margin-bottom: 1.5rem;
	font-size: 1rem;
	width: 300px;
}

.expand-icon {
	background: url("/cobrands/#{$cobrand-moniker}/images/ic-plus.svg") no-repeat center;
	display: block;
	width: 15px;
	height: 15px;
	margin-right: 0.6rem;
	margin-left: 0;
}

.category-checkboxes {
	padding-left: 1.5rem;
}

.save-and-close-button {
	/*background: transparent;
    border: none;
    display: flex;
    float: right;
    margin-top: -276px;
    margin-right: 1.5rem;
    */
	display: none;
}

.filter-select {
	display: block;
	margin-top: 1rem;
}

.close-icon {
	background: url("/cobrands/#{$cobrand-moniker}/images/ic-close.svg") no-repeat center;
	display: block;
	width: 15px;
	height: 15px;
	margin-left: 0.8rem;
}

.mark-as-solved input {
	margin-top: 2.2rem;
}

.mark-as-solved .details-button {
	display: inline;
}

.mark-as-solved {
	margin-bottom: 3rem;
}

/* native styling */

.error-multiple-section,
.front-main-form-container {
	margin: 0 1.5rem;
}

.multiple-item {
	padding-bottom: 1rem;
}

.pc_alternatives {
	padding-left: 0;
}

.main-page-form-err {
	padding: 1.5rem 2rem;
}

#report-a-problem-main fieldset {
	border: none;
}

.item-list--reports {
	padding-left: 0;
}

.report-list-filters-wrapper {
	margin-top: 3rem;
}

.filtered-content-map-view .pin {
	transform: scale(0.4);
}

.filtered-content-map-view #map_box {
	position: relative;
	height: 10cm;
}

.item-list--reports .item-list__heading {
	display: flex;
	font-size: 1rem;
	font-weight: 600;
}

.report-list-filters-wrapper .multi-select-menuitems {
	display: flex;
	flex-direction: column;
	margin-bottom: 2.5rem;
}

.report-list-filters-wrapper .multi-select-container {
	margin: 1.5rem 0 1.5rem 0;
}

.multi-select-menuitems input,
.multi-select-presets input {
	margin-bottom: 1.25rem;
}

.multi-select-menuitems label,
.multi-select-presets label {
	font-size: 0.825rem;
	font-weight: 600;
}

.report-list-filters-wrapper .sortby-form {
	position: absolute;
	right: 0;
	top: 0;
	float: none;
	margin-top: 0;
	display: flex;
	align-items: baseline;
}

.item-list__heading .page-text-light {
	border-bottom: 1px solid #dad6d3;
	padding-bottom: 1rem;
}

#map_box #map {
	width: 100%;
	height: 100%;
	position: absolute;
}

div .olMap {
	z-index: 0;
	padding: 0 !important;
	margin: 0 !important;
	cursor: default;
	-ms-touch-action: none;
	touch-action: none;
}

// The map's static image fallback is visible by default.
// Hide it if javascript has loaded. (We show it again when
// the page is printed.)
html.js #map .noscript {
	display: none;
}

#fms_pan_zoom {
	top: 0.5em;
	#{$right}: 0.5em;

	.map-reporting & {
		top: 2.75em; // make space for the semi-transparent "Place pin on map" bar
	}
}

#fms_pan_zoom_panup,
#fms_pan_zoom_pandown,
#fms_pan_zoom_panleft,
#fms_pan_zoom_panright {
	display: none;
}

#fms_pan_zoom_panup,
#fms_pan_zoom_pandown,
#fms_pan_zoom_panleft,
#fms_pan_zoom_panright,
#fms_pan_zoom_zoomin,
#fms_pan_zoom_zoomout {
	position: absolute;
	cursor: pointer;
	width: 36px;
	height: 0;
	padding-top: 36px;
	overflow: hidden;
	@include svg-background-image("/cobrands/fixmystreet/images/fms-pan-zoom");
	background-size: 156px 72px;
	background-repeat: no-repeat;
	filter: none !important; // Override OpenLayers PNG handling of the navigation
}

#fms_pan_zoom_panup {
	background-position: 0 0;
	#{$right}: 30px;
	#{$left}: auto;
	top: 0;
}
#fms_pan_zoom_pandown {
	background-position: 0 -36px;
	#{$right}: 30px;
	#{$left}: auto;
	top: 72px;
}
#fms_pan_zoom_panleft {
	background-position: -36px 0;
	width: 48px;
	#{$right}: flip(48px, 0);
	#{$left}: auto;
	top: 36px;
}
#fms_pan_zoom_panright {
	background-position: -36px -36px;
	width: 48px;
	#{$right}: flip(0, 48px);
	#{$left}: auto;
	top: 36px;
}
#fms_pan_zoom_zoomin {
	background-position: -84px 0;
	padding-top: 44px;
	#{$right}: 0;
	top: 0;
}
#fms_pan_zoom_zoomout {
	background-position: -120px 100%;
	padding-top: 44px;
	#{$right}: 0;
	top: 44px;
}

.moderate-edit {
	display: none; // gets shown by javascript
}

.show-moderation {
	.moderate-edit {
		display: block;
	}
	.moderate-display {
		display: none;
	}
}

.updates-content .item-list--updates {
	padding-left: 0;
}

// A wrapper that's put around .update-imgs if there are more than 1 in a row
.update-img-set {
	text-align: center;
	margin: 0 0 1em;

	.update-img {
		float: none;
		display: inline-block;
		margin: 0;
		width: 31%;
	}

	.update-img + .update-img {
		margin: flip(0 0 0 0.5em, 0 0.5em 0 0);
	}
}

.update-img {
	a {
		display: block;
		position: relative;

		span {
			position: absolute;
			top: 0;
			#{$right}: 0;
			display: block;
			width: 20px;
			height: 0;
			padding-top: 20px;
			opacity: 0.5;
			overflow: hidden;
			background-color: #fff;
			background-repeat: no-repeat;
			background-position: 50% 50%;
			background-size: 16px 16px;
			@include svg-background-image("/cobrands/fixmystreet/images/magnify");
		}

		&:hover span {
			opacity: 1;
		}
	}
}

.problem-header .update-img,
.item-list .update-img {
	float: right;
	margin: 0.3em 0 0.5em 1em;
	width: auto;
}

.report-details-container .item-list__update-text {
	padding: 1rem 0 1rem 0;
}

.report-details-container #map_box {
	position: absolute;
	top: 230px;
	width: 100%;
	left: 0;
	height: 330px;
}

.report-title input {
	padding: 1.2rem;
}

.report-title input::placeholder {
	color: $col_big_numbers;
}

.moderate-display .js-moderate {
	font-weight: 700;
}

.btn--provide-update {
	border: none;
	background-color: transparent;
	font-family: "Open Sans";
	color: #F25410;
	display: flex;
	font-size: 0.8rem;
	align-self: center;
	position: relative;
	font-weight: 600;
	bottom: 31px;
	left: 140px;
	column-gap: 10px;
}

.inspect-section p {
	margin: 1rem 0 1rem 0;
}

.inspect-section .btn-primary {
	padding: 0.5rem 1.5rem 0.5rem 1.5rem;
	border-radius: 40px;
	border: none;
	font-family: $body-font;
	font-weight: 600;
	font-size: 0.875rem;
	background-color: $primary;
	color: white;
	margin: 1rem 0 1rem 0;
}

.problem-header .primary-button {
	margin-top: 25px;
}

.moderate-edit textarea {
	display: block;
}

.update-form-div input {
	width: 93%;
}

.update-form-div fieldset {
	border: 0;
	padding: 0;
}

.update-form-div fieldset label {
	display: block;
}

.update-form-div .checkbox-group {
	margin-top: 1rem;
}

.dz-default.dz-message {
	position: relative;
}

.dz-default.dz-message:before {
	content: "";
	width: 30px;
	background: url("/cobrands/#{$cobrand-moniker}/images/ic-camera.svg") no-repeat center;
}

.dz-default.dz-message span {
	margin-left: 1rem;
}

.description-container .dz-default.dz-message {
	background-color: transparent;
	border: 1px solid #dad6d3;
	border-radius: 15px;
	padding: 1rem 3rem 1rem 3rem;
	max-width: 100%;
	display: flex;
	justify-content: center;
	font-weight: 600;
	margin-bottom: 3rem;
}

.form-section-preview--next .primary-button {
	float: none;
	margin: 1rem 0 1rem 0;
}

.checkbox-group {
	display: flex;
	width: auto;
	align-items: center;
}

.update-form-div input[type="checkbox"] {
	width: auto;
}

.update-form-div .register-button {
	float: none;
	display: block;
	margin: 2rem auto;
}

.form-section-preview .js-new-report-user-hide {
	padding: 0.5rem 1.5rem 0.5rem 1.5rem;
	border-radius: 40px;
	background-color: transparent;
	font-family: $body-font;
	font-weight: 600;
	font-size: 0.875rem;
	border: 1px solid #0e0e0e;
}

.moderate-display a {
	text-decoration: underline;
}

// hide anything with this class if js is working
.js .hidden-js {
	display: none;
	visibility: hidden;
}

// hide anything with this class if js is NOT working
.no-js .hidden-nojs {
	display: none !important;
	visibility: hidden;
}

.js-hide-if-public-category {
	display: none;
}

#side-form fieldset {
	border: none;
	padding: 0;
	margin: 1.5rem;
}

#side-form h1 {
	margin: 1.5rem;
}

#side-form .change_location {
	display: none;
}

#side-form #js-top-message {
	display: none;
}

#problem_form .dz-default.dz-message {
	background-color: transparent;
	border: 1px solid #dad6d3;
	border-radius: 15px;
	padding: 1rem 1.7rem;
	display: flex;
	justify-content: center;
	font-weight: 600;
	margin-bottom: 3rem;
}

#problem_form .description_tips {
	font-size: 0.875rem;
	margin: 0 0 2rem 0;
	display: inline;
}

#problem_form .description_tips .do,
#problem_form .description_tips .dont {
	padding: 0;
}

#problem_form .form-section-preview p {
	display: flex;
	flex-direction: column;
	margin: 1rem 0;
}

#problem_form h2 {
	font-family: $headings-font;
	font-size: 2rem;
}

#form_sign_in_yes label,
#form_sign_in_no label {
	display: block;
	margin: 1rem 0;
}

#form_sign_in_yes input,
#form_sign_in_no input {
	width: calc(100% - 80px);
}

#form_sign_in_yes input[type="checkbox"],
#form_sign_in_no input[type="checkbox"] {
	width: auto;
}

#form_sign_in_yes input[type="submit"],
#form_sign_in_no input[type="submit"] {
	width: auto;
}

.checkbox-group #form_may_show_name {
	width: auto;
}

label[for="form_may_show_name"] {
	font-weight: 600;
	font-size: 0.872rem;
}

#form_sign_in_yes #submitUpdate,
#form_sign_in_no #submitUpdate {
	margin: 4rem 0;
	float: right;
}

#side-form #map_box {
	display: none;
}

.above-form {
	display: none;
}

#side-form .dropdowns {
	margin: 1.5rem 0;
}

.rap-notes-trigger {
	display: none;
}

#side-form .primary-button {
	display: none;
}

#problem_form .continue-container-two {
	position: initial;
}

.report-problem-textarea {
	width: calc(100% - 80px);
}

.report-title-input {
	width: calc(100% - 47px);
}

.no-pin-report #map_box {
	display: none;
}

.report-maintitle {
	display: flex;
}

.info-modal {
	margin: auto;
	max-width: 100%;
	border-radius: 15px;
	padding: 3rem 2.5rem;
}

.info-modal .page-title {
	margin-top: 4rem;
}

.info-modal .page-text-left-aligned {
	margin-bottom: 3rem;
}

.show-info-modal {
	display: block;
}

.photo-title {
	display: flex;
	margin-top: 3rem;
	font-weight: 700;
}

.sidebar-notes .plain-list {
	list-style-type: disc;
}

.info-modal #report-a-problem-sidebar {
	display: initial !important;
}

.back-button {
	display: none;
}

.report-section .back-button {
	display: block;
}

.report-section .arrow-left {
	display: inline-block;
}

.report-section .form-section-preview {
	display: none;
}

.no-pin-report .form-section-preview {
	display: initial;
}

.img-gallery-container .update-img-set {
	display: flex;
}

.img-gallery-container img {
	width: 150px;
}

fieldset {
	border: none;
}

// /reports page

.main-reports {
	padding: 2.5rem;
}

// alert page

.main-alert {
	padding: 1.5rem;
}

.modal-background {
	position: fixed;
	width: 100%;
	background-color: #606060;
	opacity: 0.7;
	height: 100% !important;
	z-index: 5;
	top: 0;
}

.confirmation-header {
	background-color: white;
	width: 25%;
	height: 375px;
	padding: 65px;
	border-radius: 35px;
	z-index: 8;
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.confirm-modal-button {
	background-color: $primary;
	color: white;
	width: 375px;
	height: 56px;
	margin-top: 40px;
}

.confirm-button {
	float: none;
	margin-left: auto;
	margin-right: auto;
	margin-top: 100px;
	width: 100%;
}

.confirmation-problem {
	background-color:white;
	text-align:center;
	border-radius: 25px;
	height: 525px;
	width: 455px;
	padding-top: 60px;
	position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

.close-modal-btn {
	position: absolute;
	right: 15px;
	cursor: pointer;
	right: 25px;
	top: 10px;
	border: 2px solid;
	border-color: white;
	font-weight: bold;
}

.text-main {
	margin-bottom: 0px !important;
	margin-top: 50px !important;
}

.text-secondary {
	margin-top: 0px !important;
	margin-bottom: 20px !important;
}

.row {
	width: 100%;
}

#confirm-problem h2 {
	font-family: "Darker Grotesque";
	font-size: 2rem;
	width: 90%;
	margin-bottom: 25px;
}
   
.text-centered {
	margin-left: auto;
	margin-right: auto;
}

.confirmation-problem > p {
	width: 95%;
	margin: auto;
}

@media only screen and (max-width: 769px) {

	.mobile-hidden {
		display: none;
	}

	.confirmation-problem {
		position: static;
		margin: auto;
		width: 100%;
	}

	.confirm-modal-button {
		height: 48px;
		width:105px;
	}

	.with-bullets > li:first-child {
		padding: 0 1.5rem 0 1.5rem;
	}
	   
}

//#146
@media only screen and (max-width: 755px) {
	.shadow-wrap {
	width: 100%;
	position: absolute;
	top: 570px;
	font-size: 0.75em;
	left: 0px;
	height: 50px;
	}

	.shadow-wrap>ul {
	display: flex;
	border: none;
	width: 100%;
	}

	#key-tools {
	list-style-type: none;
	padding: 0;
	margin-bottom: 10px;
	margin-top: 0px;
	justify-content: center;
	display: flex;
	}

	.report-btn {
	background-color: #f6f2ef;
	width: 30%;
	margin: 4px;
	justify-content: center;
	display: flex;
	column-gap: 5px;
	padding: 5px;
	}

	#key-tool-report-abuse {
	background-image: url(/cobrands/fixmystreet/images/report-tools.svg);
	display: inline-block;
	height: 16px;
	background-size: 112px 16px;
	width: 16px;
	background-position: 128px 0px;
	margin-top: auto;
	margin-bottom: auto;
	position: relative;
	top: 2px;
	}

	#key-tool-report-updates-picture {
	background-image: url(/cobrands/fixmystreet/images/report-tools.svg);
	display: inline-block;
	width: 16px;
	height: 16px;
	background-size: 112px 15px;
	background-position: 48px 0;
	margin-top: auto;
	margin-bottom: auto;
	position: relative;
	top: 0px;
	}

	#key-tool-problems-nearby {
	background-image: url(/cobrands/fixmystreet/images/report-tools.svg);
	display: inline-block;
	width: 16px;
	height: 16px;
	background-size: 112px 16px;
	background-position: -16px 0;
	margin-top: auto;
	margin-bottom: auto;
	left: -5px;
	position: relative;
	}

	label.clickable {
	position: relative;
	bottom: 2px;
	}

	.rss-drop {
	position: absolute;
	}

	.green-btn {
	margin-top: 5px;
	cursor: pointer;
	}

	}

	@media only screen and (max-width: 403px) {
	.shadow-wrap {
	top: 570px;
	height: 50px;
	}

	label.clickable {
	bottom: -5px;
	}

	#key-tool-report-abuse {
	top: 10px;
	}

	#key-tool-report-updates {
	position: relative;
	top: 6px;
	}

	#key-tool-problems-nearby {
	left: -20px;
	}
	}

	@media only screen and (max-width: 755px) {

	.btn--provide-update {
	left: 77%;
	}
	}
